{
  "date": "1970/1/1 9:00",
  "labels": ["1/1~1/5"],
  "datasets": [
    {
      "label": "第一庁舎計",
      "data": [0]
    },
    {
      "label": "第二庁舎計",
      "data": [0]
    },
    {
      "label": "議事堂計",
      "data": [0]
    }
  ]
}
