{
  "contacts": {
    "date": "1970/01/01 09:00",
    "data": [
      {
        "日付": "1970-01-01T00:00:00.000Z",
        "曜日": 0,
        "903時": 0,
        "1307時": 0,
        "17-21時": 0,
        "date": "1970-01-01",
        "w": 0,
        "short_date": "01/01",
        "小計": 0
      }
    ]
  },
  "querents": {
    "date": "1970/01/01 09:00",
    "data": [
      {
        "日付": "1970-01-01T00:00:00.000Z",
        "曜日": 0,
        "907時": 0,
        "17-翌9時": 0,
        "date": "1970-01-01",
        "w": 0,
        "short_date": "01/01",
        "小計": 0
      }
    ]
  },
  "patients": {
    "date": "1970/01/01 09:00",
    "data": []
  },
  "patients_summary": {
    "date": "1970/01/01 09:00",
    "data": [
      {
        "日付": "1970-01-01T00:00:00.000Z",
        "小計": 0
      }
    ]
  },
  "discharges_summary": {
    "date": "1970/01/01 09:00",
    "data": []
  },
  "inspections_summary": {
    "date": "1970/01/01 09:00",
    "data": {
      "都内": [0],
      "その他": [0]
    },
    "labels": ["1/1"]
  },
  "inspection_persons": {
    "date": "1970/01/01 09:00",
    "labels": ["1970-01-01T00:00:00.000Z"],
    "datasets": [
      {
        "label": "検査実施人数",
        "data": [0]
      }
    ]
  },
  "inspection_status_summary": {
    "date": "1970/01/01 09:00",
    "attr": "検査実施人数（累計）",
    "value": 0,
    "children": [
      {
        "attr": "検査実施件数（累計）",
        "value": 0,
        "children": [
          {
            "attr": "都内発生",
            "value": 0
          },
          {
            "attr": "その他（チャーター便・クルーズ船等）",
            "value": 0
          }
        ]
      }
    ]
  },
  "lastUpdate": "1970/01/01 09:00",
  "main_summary": {
    "attr": "検査実施人数",
    "value": 0,
    "children": [
      {
        "attr": "陽性患者数",
        "value": 0,
        "children": [
          {
            "attr": "入院中",
            "value": 0,
            "children": [
              {
                "attr": "軽症・中等症",
                "value": 0
              },
              {
                "attr": "重症",
                "value": 0
              }
            ]
          },
          {
            "attr": "退院",
            "value": 0
          },
          {
            "attr": "死亡",
            "value": 0
          }
        ]
      }
    ]
  }
}
